/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  font-size: .8em;
}


/*---------------------MY CSS-----------------*/
main{
}

.customers {
    background-color: #92a9ef;
}
.customers .card-header,
a.customers:hover
{
    background-color: #6e87d3;
}

.addresses {
    background-color: #97ea8c;
}
.addresses .card-header,
a.addresses:hover {
    background-color: #75ce67;
}

.pizzas {
    background-color: #f28e8e;
}
.pizzas .card-header,
a.pizzas:hover {
    background-color: #d66868;
}

.ingredients {
    background-color: #efbe8d;
}
.ingredients .card-header,
a.ingredients:hover {
    background-color: #d39d67;
}

.orders {
    background-color: #c48aea;
}
.orders .card-header,
a.orders:hover {
    background-color: #a465ce;
}

.reports {
    background-color: #e0e888;
}
.reports .card-header,
a.reports:hover {
    background-color: #c3cc63;
}

.card *,
.card a
{
    color: black;
}

li.nav-item a.nav-link
{
    width: 58px;
}
/*-------------------CUSTOM BOOTSTRAP----------------*/
.breadcrumb {
    background-color: transparent;
}