@model Project1.WebUi.Models.ViewModels.OrderForm

@{
    ViewData["Title"] = "Create Order";
}

<h1 class="text-center">Create Order</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb p-0 my-3">
        <li class="breadcrumb-item" aria-current="page">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
            <a asp-action="Index">Orders</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Create
        </li>
    </ol>
</nav>

<form asp-action="Create">
    <partial name="_Form" />
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/order.js" asp-append-version="true"></script>
}
