@model Project1.WebUi.Models.ViewModels.OrderForm

@{
    ViewData["Title"] = "Edit Order";
}

<h1 class="text-center">Edit Order</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb p-0 my-3">
        <li class="breadcrumb-item" aria-current="page">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
            <a asp-action="Index">Orders</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Create
        </li>
    </ol>
</nav>

<form asp-action="Edit">
    <partial name="_Form" />
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/order.js" asp-append-version="true"></script>
    <script>
        $("#customer").val(@Model.CustomerId);
        getAddress();
        $("#customer").val(@Model.AddressId);

        @foreach(OrderPizza op in Model.OrderPizzas)
        {
            <text>
                $("#pizza_@op.PizzaId").val(Number.parseInt($("#pizza_@op.PizzaId").val()) + 1);
            </text>
        }

        setTimeout(
          function()
          {
            $('#ErrorAddress').html("");
          }, 1000);
    </script>
}
